
<div class="cards" style="gap: 20px; margin-top: 20px">

        <div class="card" style="width: 12rem;">
            <button type="button" class="btn-close" aria-label="Close" (click)="sendIdDeleteBook(book.id_book)"></button>
            <img src="{{book.photo}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{book.title}}</h5>
                <p class="card-text">{{book.author}}</p>
                <p class="card-text">{{book.type}}</p>
                <p class="card-text">{{book.id_book | referencia}}</p>
                <p class="card-text">{{book.price}} €</p>
                <a class="btn btn-success">Comprar</a>
                <!-- <a class="btn btn-primary" [ngClass]="{'even-class': even, 'odd-class': odd}">Comprar</a> -->
            </div>
        </div>
        
</div>












<!-- NOTAS MAS ABAJO PARA LA OPCION DE USAR VARIOS INPUTS, EL BUCLE ESTARÁ EN EL PADRE -->









<!-- OPCION SIN USAR SOLO 1 INPUT, ES DECIR CON VARIOS INPUTS, EL BUCLE ESTÁ EN BOOKS, Y NO AQUI. -->

<!-- <div class="card" style="width: 12rem;">
    <button type="button" class="btn-close" aria-label="Close" (click)="sendIdDeleteBook(id_book)"></button>
    <img src="{{img}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{author}}</p>
        <p class="card-text">{{type}}</p>
        <p class="card-text">{{id_book | referencia}}</p>
        <p class="card-text">{{price}} €</p>
        <a class="btn btn-primary">Comprar</a>
        <a class="btn btn-primary" [ngClass]="{'even-class': even, 'odd-class': odd}">Comprar</a>
    </div>
</div> -->

