
<form class="column g-3 needs-validation" novalidate>
    <br>
    <p class="regis">REGISTRATE</p>
    <div class="col-md-4 position-relative">
        <label for="validationTooltip01" class="form-label"></label>
        <input type="text" class="form-control" id="validationTooltip01" value="Nombre" required>
        <div class="valid-tooltip">
        </div>
    </div>
    <div class="col-md-4 position-relative">
        <label for="validationTooltip02" class="form-label"></label>
        <input type="text" class="form-control" id="validationTooltip02" value="Apellido" required>
        <div class="valid-tooltip">
        </div>
    </div>
    <div class="col-md-4 position-relative">
        <label for="validationTooltip02" class="form-label"></label>
        <input type="Email" class="form-control" id="validationTooltip02" value="Email" required>
        <div class="valid-tooltip">
        </div>
    </div>
    <div class="col-md-4 position-relative">
        <label for="validationTooltip02" class="form-label"></label>
        <input type="text" class="form-control" id="validationTooltip02" value="URL" required>
        <div class="valid-tooltip">
        </div>
    </div>
    <div class="col-md-4 position-relative">
        <label for="validationTooltip02" class="form-label"></label>
        <input type="password" class="form-control" id="validationTooltip02" value="Contraseña" required>
        <div class="valid-tooltip">
        </div>
    </div>
    <div class="col-md-4 position-relative">
        <label for="validationTooltip02" class="form-label"></label>
        <input type="password" class="form-control" id="validationTooltip02" value="Repetir Contraseña" required>
    </div>
    
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Registrarse</button>
    </div>
</form>