
<footer class="footer">
    <div class="f1">
        <a class="textofooter" href="">Contacto</a>
        <a class="textofooter" href="">Facebook</a>
        <a class="textofooter" href="">Instagram</a>
        <a class="textofooter" href="">Twitter</a>
        <a class="textofooter" href="">Ayuda</a>
        <a class="textofooter" href="">Privacidad</a>
        <a class="textofooter" href="">Configuración de cookies</a>  
    </div>
    <div>
        <p class="texto2footer">© 2024 Rafael Lago for Codenotch</p>
    </div>
</footer>
