
.header {
    width: 100vw;
    height: 100px;
    background-color: rgb(9, 87, 160);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoMyBook {
    text-decoration: none;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin: 150px;
}

.menu {
    margin: 200px;
    display: flex;
    gap: 40px;
}

.menu_links {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}