
<div class="row">

    <div class="card text-bg-light mb-3" style="max-width: 35rem; padding-bottom: 10px; gap: 15px">
        <h6 class="card-header" style="margin-top: 20px">LOGIN</h6>

        <form #templateForm="ngForm" (ngSubmit)="submit(templateForm.value)">

            <div class="edit-body">
                <div class="inputs">

                    <div class="col-md-15">
                        <label>Email</label> 
                        <input 
                        type="email" 
                        name="email" 
                        [(ngModel)]="user.email" 
                        class="form-control" id="" placeholder="Email" 
                        #email="ngModel"
                        required
                        email>

                        @if ( (email.dirty || email.touched) && email.invalid) {
                            @if (email.errors && email.errors['required'])  {
                                <div >
                                  <p class="cssError">*Campo obligatorio</p>
                                </div>
                            }
                            @if (email.errors && email.errors['email'])  {
                                <div >
                                  <p class="cssError">*Formato email incorrecto</p>
                                </div>
                            }
                        }

                    </div>

                    <div class="col-md-15">
                        <label>Password</label>
                        <input 
                        type="password" 
                        name="password"
                        [(ngModel)]="user.password" 
                        class="form-control" id="" placeholder="Password" 
                        #password="ngModel"
                        required
                        minlength="5">

                        @if ( (password.dirty || password.touched) && password.invalid) {
                            @if (password.errors && password.errors['required']) {
                                <div>
                                    <p class="cssError">*Campo obligatorio</p>
                                </div>
                            }
                            @if (password.errors && password.errors['minlength']) {
                                <div>
                                    <p class="cssError">*Mínimo 5 caracteres</p>
                                </div>
                            }
                        }
                    </div>
                    
                </div>
                <br>
                <div class="col-12">
                    <button [disabled]="templateForm.invalid" class="btn btn-success" type="submit">Submit</button>
                </div>
            </div>

        </form>

    </div>

</div>

