
<div class="row">

    <div>
        <div class="container input-group mb-3" style="width: 20rem; margin-top: 30px;">
            <button class="btn btn-success" type="text" id="button-addon1" (click)="findBook(inputId)">Buscar Libro</button>
            <input type="text" class="form-control" id="" placeholder="Nº de referencia" required #inputId>
        </div>
    </div>


        <div class="cards" style="gap: 20px; margin-bottom: 35px;">
            @for(book of books; track book.title; let even = $even; let odd = $odd){
                <app-card [book]="book" (deleteBook)="bookToDelete($event)"></app-card>
            } @empty {
                <div class="alert alert-danger" role="alert">
                    Vaya! Parece que no tienes ningún libro añadido.
                </div>
            }
        </div>
</div>









