
<div class="row">

    <div class="cards" style="gap: 20px; margin-top: 20px">

            <app-card [booksList]="books" (deleteBook)="bookDeleted($event)"></app-card> 

    </div>


    <div class="card text-bg-secondary mb-3" style="max-width: 18rem; padding-bottom: 10px;">
        <h4 class="card-header">Añadir Libro</h4>
        <div class="edit-body">
            <div>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="" placeholder="Foto" required #inputFoto>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="" placeholder="Titulo" required #inputTitulo>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="" placeholder="Autor" required #inputAutor>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="" placeholder="Tipo" required #inputTipo>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="" placeholder="Precio" required #inputPrecio>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="" placeholder="Código Libro" required #inputCodigo>
                </div>
            </div>
            <br>
            <div class="col-12">
                <button (click)="addNewBook(inputFoto, inputTitulo, inputAutor, inputTipo, inputPrecio, inputCodigo)" class="btn btn-primary" type="submit">Insertar Libro</button>
            </div>
        </div>
    </div> 

</div>





<!-- NOTAS MAS ABAJO PARA LA OPCION DE USAR VARIOS INPUTS, EL BUCLE ESTARÁ EN EL PADRE -->









<!-- OPCION SI EL BUCLE ESTUVIERA EN BOOKS EN VEZ DE EN LA CARD: -->
<!-- <div class="cards" style="gap: 20px; margin-top: 20px">
        @for(book of books; track book.title; let even = $even; let odd = $odd){

            <app-card [img]="book.photo" [title]="book.title" [author]="book.author" [type]="book.type" [id_book]="book.id_book" [price]="book.price"  (deleteBook)="bookDeleted($event)"></app-card>
            
        } @empty {
            <div class="alert alert-danger" role="alert">
                Vaya! Parece que no tienes ningún libro añadido.
            </div>
        }
    </div> -->