
.container {
    background: url(fondolibreria.jpg);
    opacity: 0.9;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 550px;  
}

.texto-bio {
    background-color: var(--primarycolor);
    opacity: 1.5;
    color: white;
    font-family: var(--primaryfont);
    font-size: 30px;
    font-weight: 800;
}