
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: url("../../../assets/fondolibreria.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.texthome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 400px;

}

.texto-bio {
    background-color: var(--primarycolor);
    opacity: 1.5;
    color: white;
    font-family: var(--primaryfont);
    font-size: 30px;
    font-weight: 800;
    /* padding-left: 50px; */
}