
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: url("../../../assets/fondoupdatebook.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
   
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.col-12{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

}